{% extends 'pria/layout.html' %}

{% block title %}ЧувырлияNET{% endblock %}

{% block content %}
    <div class="features">
        <h1>Важная инфа!!!</h1>
        <p>Exorcizamus te, omnis immundus spiritus omnis satanica potestas, omnis incursio infernalis adversarii, omnis legio, omnis congregatio et secta diabolica.
           Ergo draco maledicte et omnis legio diabolica adjuramus te. cessa decipere humanas creaturas, eisque aeternae Perditionis venenum propinare.
           Vade, Satana, inventor et magister omnis fallaciae, hostis humanae salutis. Humiliare sub potenti manu dei, contremisce et effuge, invocato a nobis sancto et terribili nomine, quem inferi tremunt. Ab insidiis diaboli, libera nos, Domine.
           Ut Ecclesiam tuam secura tibi facias libertate servire te rogamus...</p>
        <button class="btn btn-warning">AUDI NOS</button>
   </div>
{% endblock %}
